extends layout

block content
  h1 Please log all the way in
  p Welcome. All the way. Do it.
  form(action="", method="post")
    input(type="text", name="username", placeholder="Username...")
    input(type="password", name="password", placeholder="passwr0d")
    input(type="submit", value="Login")